mode: deployment

image:
  repository: otel/opentelemetry-collector
  tag: 0.145.0

ports:
  prometheus:
    enabled: true
    containerPort: 8889
    servicePort: 8889
    protocol: TCP

config:
  
  receivers:
    jaeger: null
    # prometheus: null
    zipkin: null
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
  
  processors:
    batch: {}
  
  exporters:
    otlp/tempo:
      endpoint: http://tempo:4317
      tls:
        insecure: true
    otlp/loki:
      endpoint: http://loki:9095
      tls:
        insecure: true
    prometheus:
      endpoint: "0.0.0.0:8889"
      resource_to_telemetry_conversion: 
        enabled: true
  
  service:
    pipelines:
      traces:
        receivers: [otlp]
        exporters: [otlp/tempo]
      metrics:
        receivers: [otlp]
        processors: [batch]
        exporters: [prometheus]
      logs:
        receivers: [otlp]
        exporters: [otlp/loki]

# This automatically tells the Prometheus Operator to scrape this pod
serviceMonitor:
  enabled: true
  metricsEndpoints:
    - port: prometheus
      path: /metrics
      interval: 15s