apiVersion: 1

datasources:
  - name: Loki
    type: loki
    url: http://loki:3100 
    isDefault: true
    access: proxy
    editable: true
  - name: Tempo
    type: tempo
    url: http://tempo:3200
    access: proxy
    isDefault: false
    editable: true
    